body {
    color: rgb(132, 133, 132);
}

h1 {
    font-style: oblique;
}

.zero {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
}

.one {
  padding: 10px;
  font-size: 3.0vh;
  font-weight: lighter;

}